<a href="https://colab.research.google.com/github/M-Dinesh-14/python/blob/main/_oops_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 user = input("enter the details ")
class student:
    def __init__(self,name,age,grade):
        self.name=name
        self.age=age
        self.grade=grade
if 's' in user:
    s = student('tommy',12,10)
    print(f'my name is {s.name} amd my age is {s.age} and my grade is {s.grade}')

enter the details s
my name is tommy amd my age is 12 and my grade is 10

1) bank

In [ ]:
class bank:
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance

    def __str__(self):
       return f'my name is {self.name} and my balance is {self.balance}'

preson = bank('tommy',1000)
print(preson)

my name is tommy and my balance is 1000

2) hospital

In [ ]:

class hospital:
  def __init__(self,doctor,apointment,problem):
    self.doctor=doctor
    self.apointment=apointment
    self.problem=problem
  def __str__(self):
    return f'my doctor is {self.doctor} and my apointment is at {self.apointment} and my problem is {self.problem}'
data = hospital("DR.Dinesh","10 am","cancer")
print(data)

my doctor is DR.Dinesh and my apointment is at 10 am and my problem is cancer

3)orphan

In [ ]:
class orphan:
  def __init__(self,name,number,donetion):
    self.name=name
    self.number=number
    self.donetion=donetion
  def __str__(self):
    return f'my name is {self.name} and my number is {self.number} and my donetion is {self.donetion}'
preson = orphan("ravi",6309650636,500000)
print(preson)

my name is ravi and my number is 6309650636 and my donetion is 500000

4) travels

In [ ]:
class travels:
  def __init__(self,name,num,seats ):
    self.name=name
    self.num=num
    self.seats =seats
  def __str__(self):
    return f'my bus name is  {self.name} and bus number is  {self.num} and my seats no {self.seats }'
data = travels("BRS","AP 8 c 9627","L6")
print(data)

my bus name is  BRS and bus number is  AP 8 c 9627 and my seats no L6

5) TV

In [ ]:
class TV:
  def __init__(self,name,num):
    self.name=name
    self.num=num
  def __str__(self):
      return f'my TV name is  {self.name} and TV number is  {self.num}'
data = TV("SAMSUNG",214455)
print(data)

my TV name is  SAMSUNG and TV number is  214455

6) Movie

In [ ]:
class Movie:
  def __init__(self,name,cost,seats):
    self.name=name
    self.cost=cost
    self.seats=seats
  def __str__(self):
     return f'movie name{self.name} and cost of movie{self.cost} and my seat no {self.seats}'
yuva = Movie('goat',200,5)
print(yuva)

movie namegoat and cost of movie200 and my seat no 5

7) car

In [ ]:
class car:
  def __init__(self,name,fuel,distances):
    self.name=name
    self.fuel = fuel
    self.distances=distances
  def __str__(self):
    return f'my car name is {self.name} and it fills fuel tank range is {self.fuel} it covers the  distance {self.distances}'
pandu = car('honda',500,'100 km')
print(pandu)

my car name is honda and it fills fuel tank range is 500 it covers the  distance 100 km

8)coching

In [1]:
class coching:
  def __init__(self,name,time):
    self.name=name
    self.time=time
  def __str__(self):
    return f'my coaching name is {self.name} and its timeings is {self.time}'
padmini = coching('teks academy','5:30 pam')
print(padmini)

my coaching name is teks academy and its timeings is 5:30 pam

9) swich

In [ ]:
class door:
  def __init__(self,name,code,cost):
    self.name=name
    self.code=code
    self.cost=cost
  def __str__(self):
    return f'my door name is {self.name} and my door code is {self.code} and its cost is {self.cost}'
janu = door('wood',1234,2000)
print(janu)

my door name is wood and my door code is 1234 and its cost is 2000

10) paint

In [ ]:
class paint:
  def __init__(self,name,code,cost):
    self.name=name
    self.cost=cost
    self.code=code
  def __str__(self):
    return f' the paint name is {self.name} and its code is {self.code} and its cost {self.cost}'
jack = paint('blue',8906,1500)
print(jack)

 the paint name is blue and its code is 8906 and its cost 1500