<a href="https://colab.research.google.com/github/M-Dinesh-14/python/blob/main/inheritence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# inheritence
way of creating a new class from an existing class without any mofifying it
* The newly formed class is derived class and also called as Child class
* The existing class is called base class or Child class
we can have 1 parent class - 2 child classes or
1 parent class - 1 child class

First we need to create the base class and using base class we can create the child class
class person:

In [5]:
class person:
   def __init__(self,name,age):
        self.name=name
        self.age=age

class dinesh(person):
    def Myname(self):
        print("My name is dinesh")

class sujeeth(person):
    def Myname(self):
        print("My name is sujeeth")

d=dinesh("dinesh",25)
s=sujeeth("sujeeth",26)
print(d.age)
print( s.age)

25
26

In [6]:

class bike:

    def color(self):
        print("The color is black")

    def sound(self):
        print("The sound is keek keek!")

class Honda(bike):

    def Brand(self):
        print("The Brand name is Honda")

class FZ(bike):

    def Brand(self):
        print("The Brand name is FZ")

In [7]:
a=Honda()
a.color()
a.sound()
a.Brand()

The color is black
The sound is keek keek!
The Brand name is Honda

In [8]:

b=FZ()
b.color()
b.Brand()

The color is black
The Brand name is FZ

In [9]:
class Teks:

    def datascience(self):
        print("It is DS")

    def dataanalyst(self):
        print("It is DA")

    def python(self):
        print("It is included")

class Hitech(Teks):

    def Branch(self):
        print("It is in Hitech city")

class Ammerpet(Teks):

    def Branch(self):
        print("It is in Ameerpet location")
a=Hitech()
a.datascience()
a.python()
a.Branch()

It is DS
It is included
It is in Hitech city

In [10]:

b=Ammerpet()
b.dataanalyst()
b.Branch()

It is DA
It is in Ameerpet location