<a href="https://colab.research.google.com/github/M-Dinesh-14/python/blob/main/introdution_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
 #Introdution
 * It is a easy to learn and it is high level language an we can easy write program in english language
** it is develped by Guido Van Rossum ** in 1991.

#features in python
* easy to use.
* short cut.
* have simple syntax.
* object-oriented language.

#comment
it is used to define the code.
* denoted by(#).
* 2-types

1. # single line :-
it is single line comment begins with hash symbol(# ), and the Python interpreter ignores everything that follows it on that line.
2. # multi line
Python does not have a specific syntax for multiline comments as some other programming languages do. Instead, multiline comments are created by enclosing the text within triple quotes ("either single quotes or double quotes ").

In [ ]:
# print a number
print(25)

25

# keywords list
is use in different uses

In [ ]:
import keyword
#Get the list of python keywords
python_keywords=keyword.kwlist
#Display the list of keywords
print(python_keywords)
len(python_keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

# Variables
  It is use to store the elements or ithem.

#  Rules of Createing Variables:-
* variable can be using alpha number characters.
* it can't start with digit no (0-9).
* keywords can't be used.
* specail character can't be used expeat (_).
* varible are case sensitive.

# Types of varibles
there 2-types
# single varible
store single valu
ex- a=7

In [ ]:
dinesh=7
print(dinesh)

7

# multi varible
2-types
* multi to multi
it can store multi varible in multi valu

In [ ]:
chinnu,nani,ravi= 5,7,2
print(chinnu)
print(nani)
print(ravi)

5
7
2

#multi to single
 it will store element multi varibles in single valu

In [ ]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

# Data types


1.  Basic
*   integer
*   float
*   complex
*   Boolean
2.  Advance
*   list
*   string
*   tuple
*   Dictionary
*   set

 # Basic
*   integer:-
    * In Python, integers are classified into zero, positive, or negative whole numbers

In [ ]:
d=2
a=-4
r=0
print(type(a))
print(type(d))
print(type(r))

<class 'int'>
<class 'int'>
<class 'int'>

* Float ( Decimal value)

Float is a function or reusable code in the Python programming language that converts values into floating point numbers.

In [ ]:
d=4.3
a=5.4
c=-8.7
print(type(d))
print(type(a))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

* Complex ( Real number + image number)

In Python, a complex number is a numeric data type that stores complex numbers.

In [ ]:
a=4+2j
b=3-2j
print(type(a))
print(type(b))

<class 'complex'>
<class 'complex'>

* Boolean

   In general, a Boolean variable can have only two values - True or False.

In [ ]:
a=7
b=4
print(type(a>b))
print(a>b)

<class 'bool'>
True

#operators in Python:

  Operators are used to perform operations on variables and values.

  *  there are 7-types of operators are:-
* Arithmetic Operators.
* Assignment Operators.
* Comparison Operators.
* Logical Operators.
* Membership Operators.
* Identity Operators.
* Bitwise Operators.

# Arithmetic Operators.:-
  
   Arithmetic operators are used with numeric values to perform common mathematical operations.ex- +,-,*,/,%,**

#1.Addition

In [ ]:
a=2
b=3
c=a+b
print(c)

5

#2.Subtraction

In [ ]:
a=4
b=2
c=a-b
print(c)

2

#3.Division

In [ ]:
a=7
b=3
c=a/b
print(c)

2.3333333333333335

#4.Modulus

In [ ]:

a=5
b=7
c=a%b
print(c)

5

#5.Exponentiation	(power)

In [ ]:
a=6
b=3
c=a**b
print(c)

216

#Assignment

 It is use to assign to the Arithmetic operations
  * operator are :- +=,-=,/=,<=,>=

In [ ]:
a=7
b=4
a+=b
print(a)
a-=b
print(b)
a/=b
print(a)
a<=b
print(b)

11
4
1.75
4

# Comparison operators
 * It is used to compare values and return a result as ture or flase.
 * operators are :- ==,!=,<,>,<=,>=.

In [ ]:
F=45
g=67
print(F==g)
print(F!=g)
print(F>g)
print(F<g)
print(F>=g)
print(F<=g)

False
True
False
True
False
True

# Logical Opreator
* There 3-types:-
* And:- It should satisfy both statments than it result will be true, if one statment is not satisfy than it result will be false.
* Or:- In this opreator if any one statment have been satisfy than the result will be true,if both statment will be not satisfy then the result will be flase  
* Not:- If the both statment are satisfy then the result will be false,if the both statments are not satisfy then the reults will be ture.

In [ ]:
a=3
b=8
c=a<b and b>a
print(c)
c=a>b and b>a
print(c)
c=a>b or b>a
print(c)
c=a>b or b<a
print(c)
c=not(a<b and b>a)
print(c)
c=not(a>b and b<a)
print(c)

True
False
True
False
False
True

# Membership Operators.

* It will check iteam is present in the list or not.it show the result in the boolean from.
* it denoted by in and not in.

In [ ]:
a = "i an going to teks academy"
print("an" in a)
print("g" not in a)

True
False

# Identify operator
* It will identify name in the sentance or in a variable,function
* It denoted by is and is not.

In [ ]:
a="hello"
b="world"
print(a is b)
print(a is not b)

False
True