<a href="https://colab.research.google.com/github/M-Dinesh-14/python/blob/main/List_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List:-
Lists are used to store multiple items in a single variable.
* collection elements/order of list.
* it is mutable.
* the list is denoted by [].
* ordered sequence of element.
# Index:-

### It used to find the position of element in list
* ther two types of index
1. positive (0 to ..)
2. negitive (-1 to ..) italicized text

In [ ]:
a=[1,2,3,4,5]
print(a[3])
b=[-4,-3,-2,-1]
print(b[2])

4
-2

In [ ]:
a=[1,2,3,4,5]
print(a[3])
b=[-4,-3,-2,-1]
print(b[2])

4
-2

# Concatenation
* it is used to combine two list

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

# Repeatation
 * it is used to repeat the list.

In [ ]:
a=[1,2,3,4]
b=a*7
print(b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# Change List Items
 * To change the value of a specific item,refer to the indea number.

In [ ]:
a=["apple","banana","cherry"]

a[2]="pine"
print(a)

['apple', 'banana', 'pine']

In [ ]:
#change a rang of item values

a=["pavan","yuva","sai","ranna"]
a[2:3]=["mahesh","dinesh"]
print(a)

['pavan', 'yuva', 'mahesh', 'dinesh', 'ranna']

# List of methods
* It is used for list()function to creates a list object.
1. append()
2. copy()
3. clear()
4. count()
5. extend()
6. index()
7. insert()
8. pop()
9. remove()
10. reverse()
11. sort()
12. min()
13. max()

#append()
 * used to add the element in end of the list

In [ ]:
d=[1,2,3,4]
d.append(9)
print(d)

[1, 2, 3, 4, 9]

# Copy()
 it is used to copy the element to one  varible to other varible.

In [ ]:
a=[1,2,3,4]
b=a.copy()
print(b)

[1, 2, 3, 4]

# Clear()
It is used to clear the items in the list.

In [ ]:
a=[5,6,7,8]
b=a.clear()
print(b)

None

# count()
It is used to count the elements.

In [ ]:
a=["dinesh","dhramesh","ravi","joshi"]
b=a.count("joshi")
print(b)

1

# Extend()
 It is used to adds each element of an iterable to the end of the list.

In [ ]:
a=[1,8,3,4]
b=[5,6,7,2]
a.extend(b)
print(a)

[1, 8, 3, 4, 5, 6, 7, 2]

# Index()
 It returns the lowest index where the element appears.

In [ ]:
a=["cat","dog","pig","rat"]
print(a.index("rat"))

3

# Insert()
* insert a given element at a given index in a list.

In [ ]:
a=["banana","cherry","grape"]
a.insert(2,"apple")
print(a)

['banana', 'cherry', 'apple', 'grape']

# pop()
* removes a given end object from the list.

In [ ]:
a=[3,5,6]
a.pop()
print(a)

[3, 5]

# remove()
* remove a given object from the list.

In [ ]:
a=["cat","apple","pine"]
a.remove("apple")
print(a)

['cat', 'pine']

# reverse()
* it will reverses object of the list in place.

In [ ]:
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# sort()
* Sort a list in ascending or user defined order.

In [ ]:
a=[5,8,4,2,3,4]
a.sort()
print(a)

[2, 3, 4, 4, 5, 8]

# min()
 * it will calculates the minimum of all the element of the list.

In [ ]:
a=[45,46,28,56,38]
print(min(a))

28

# max()
* it will calculates the maximum of all the element of the list

In [ ]:
a=[28,45,38,65,30]
print(max(a))

65