<a href="https://colab.research.google.com/github/M-Dinesh-14/python/blob/main/tuple_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple:-
  Tuples are used to store multiple items in a single variable.
  * Tuple is one of 4 built-in data types in Python used to store collections of data
  * they are defined as useing parentheses and saparated by commas.
  * It is can't change once it's created.
  # Features of Tuple:-
  1. It is immutable.
  2. it is ordered sequence.

# Creating the Tuple

In [ ]:
#empty tuple :- it is a empty varible
#type():- it will tell about the function of varible
 # types of tuple

empty_tuple = ()

In [ ]:
#tuple with element

dinesh = (1,2,3,4,5)
print(type(dinesh))
#single tuple
d = (1,)
print(type(d))
a = (1,4,5)
print(type(a))
#mixed tuple
b = (1,"ravi",5)
print(type(a))
a = ("dinesh",)
print(type(a))
c = ("nani",)
print(type(c))
f = ("chinnu","mani")
print(type(f))
#single tuple
g = (67,)
print(type(g))
h = (1,)
print(type(h))
j = (9,8,6)
print(type(j))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#mixed data type
b = (1,"ravi",5)
print(b)
a = (1,"M",)
print(a)
c = (1,5)
print(c)
d = ("dinesh",3.29,)
print(d)
f = ("nani",)
print(f)

(1, 'ravi', 5)
(1, 'M')
(1, 5)
('dinesh', 3.29)
('nani',)

# Accessing of Tuple

* You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
 a = ("apple", "banana", "cherry")
print(a[1])
b = ("car","bike","bus")
print(b[2])
c = (1,2,3,2,5)
print(c[3])
d = (2,3,2,4,5,6)
print(d[2])
e = ("max","food","dance","dj")
print(e[3])
f = (2,0,7,2,4,7,5,6)
print(f[2])
g = ("a","d","B","x")
print(g[2])
h = ("print","tuple","list","data")
print(h[1])
j = (246,763,987,123)
print(j[3])
k = (23,45,89,46,30)
print(k[4])

banana
bus
2
2
dj
7
B
tuple
123
30

# Immutable

In [ ]:
# immutable:-
#Onces the tuple is created we cannot change its the element.

a=("high","low","left","right")
a[2] = "top"
print(a)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations

1. concetention
* IT is used to combin the two tuples

In [ ]:

a = (1,5,7,9,4)
b = (8,9,4,6,8)
c = a + b
print(c)
f = ('h','g','j','h')
e = ('k','d','l','s')
d = f + e
print(d)
g = (3,6,5,4,5)
h = (4,5,9,0)
j = g + h
print(j)
v = ('f','h','t','a')
m = (3,5,7,2)
n = v + m
print(n)
y = ("mallu","pati","govind")
i = (65,78,94)
w = y + i
print(w)

(1, 5, 7, 9, 4, 8, 9, 4, 6, 8)
('h', 'g', 'j', 'h', 'k', 'd', 'l', 's')
(3, 6, 5, 4, 5, 4, 5, 9, 0)
('f', 'h', 't', 'a', 3, 5, 7, 2)
('mallu', 'pati', 'govind', 65, 78, 94)

# 2.Repeatition

it is used to repeat the elements.

In [ ]:
a = (1,2,3)
b = (a*3)
print(b)
d = (3,2,6)
e = (d*4)
print(e)
f = ("dinesh",'d',"fish")
f = (f*2)
print(f)
g = ("ravi",22,'p')
g=(g*3)
print(g)
w=(23,)
w=(w*6)
print(w)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
(3, 2, 6, 3, 2, 6, 3, 2, 6, 3, 2, 6)
('dinesh', 'd', 'fish', 'dinesh', 'd', 'fish')
('ravi', 22, 'p', 'ravi', 22, 'p', 'ravi', 22, 'p')
(23, 23, 23, 23, 23, 23)

# Tuple Methods
* Python has two built-in methods that you can use on tuples.

# 1. Count()
Returns the number of times a specified value occurs in a tuple

In [ ]:
a=(1,2,3,4,3,5,3,4,2,3,1,5)
b=a.count(3)
print(b)
g=('d','f','d','s','a','d')
g=g.count('d')
print(g)
h=(1,'c',"dinesh",1,3,4,"dinesh",'s')
h=h.count("dinesh")
print(h)
s = (5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,)
s = s.count(5)
print(s)
t=("josh","ravi","josh","dinesh","nani","josh")
t=t.count("josh")
print(t)
m=("name","age","pleac","age","preson","age","name","pleac","age")
m=m.count("age")
print(m)
n=(289,378,987,289,908,172,289,371,890)
n=n.count(289)
print(n)
z=(68,89,28,98,28,68,67,87,68,90,11)
z=z.count(89)
print(z)
w=("ravi","is","a","ideot","ideot","ideot","ideot")
w=w.count("ideot")
print(w)
p=("nani", "want","to","game","play","game","nani","game",)
p=p.count("game")
print(p)

4
3
2
4
3
4
3
1
4
3

# Index
Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
a=(1,2,3,4,3,5,3,4,2,3,1,5)
a_2=a.index(3)
print(a_2)
g=('d','f','d','s','a','d')
g=g.index('d')
print(g)
h=(1,'c',"dinesh",1,3,4,"dinesh",'s')
h=h.index("dinesh")
print(h)
s = (5,6,4,5,2,5,1,2,7,5,8,9,2,3,4,)
s = s.index(5)
print(s)
t=("josh","ravi","josh","dinesh","nani","josh")
t=t.index("josh")
print(t)
m=("name","age","pleac","age","preson","age","name","pleac","age")
m=m.index("age")
print(m)
n=(289,378,987,289,908,172,289,371,890)
n=n.index(289)
print(n)
z=("dinesh","mani","nani","veni")
z=z.index("dinesh")
p=('d','r','j','k',"l")
p=p.index('r')
print(p)
l=(90,23,45,6,7,12,34)
l=l.index(12)
print(l)

2
0
2
0
0
1
0
1
5